body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2c2f30;
  color: white; }

h1,
h2,
h3 {
  font-family: Copperplate, fantasy; }

h2 {
  color: #8338ae; }

header h2 {
  color: #cec8ff; }

footer {
  background-image: url("../img/brick.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 0; }
  footer h5 {
    color: white; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #000000;
  /*background-image: url("../img/brick.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.navbar {
  background-color: #40cd29;
  color: #2c2f30; }

.navbar:link {
  color: black; }

#titleImage {
  width: 300px; }

.modal {
  background-image: url("../img/WoodPanel.jpg");
  background-repeat: repeat;
  background-color: black; }

.modal-header {
  background-color: #2c2f30; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.707); }

.carousel {
  border: solid #febe50; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.mainInfo {
  font-size: xx-large;
  text-align: right; }

.secondInfo {
  color: #febe50;
  font-size: large;
  text-align: right; }

.foot-box {
  background-color: rgba(0, 0, 0, 0.707);
  border-radius: 15px;
  padding: 20px 0; }

.our-link {
  color: #40cd29; }

.our-link:hover {
  color: #308224; }

.mainText {
  font-size: 22px;
  text-align: left;
  color: #e1d9cd; }

.secondText {
  font-size: 26px;
  color: #8338ae; }

#aboutBox {
  border-radius: 15px;
  margin: 30px auto; }

.menu-desc {
  color: white;
  font-size: 20px; }

.menu-title h2 {
  color: black;
  font-size: 40px;
  text-align: right; }

.menu-row {
  background-color: #8338ae;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px; }

.menu-container {
  margin: 20px auto; }

.breadcrumb {
  background-color: #2c2f30; }
  .breadcrumb .active {
    color: white; }

.card {
  color: black; }
