$our-orange: #febe50;
$our-purple: #8338ae;
$our-green: #40cd29;
$our-slate: #2c2f30;
$secondary: #e1d9cd;
$color-black-transparent: rgba(0, 0, 0, 0.707);

$body-font: Arial, Helvetica, sans-serif;
$title-font: Copperplate, fantasy;


body {
    font-family: $body-font;
    background-color: $our-slate;
    color: white;
}

h1,
h2,
h3 {
    font-family: $title-font;
}

h2 {
    color: $our-purple;
}

header {
    h2 {
    color: #cec8ff;
    }
}

footer {
    background-image: url("../img/brick.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    h5 {
        color: white;
    }
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #000000;
    /*background-image: url("../img/brick.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navbar {
    background-color: $our-green;
    color: $our-slate;
}
.navbar:link {
    color: black;
}

#titleImage {
    width: 300px;
}

.modal {
    background-image: url("../img/WoodPanel.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 255);
}

.modal-header {
    background-color: $our-slate;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $our-orange;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.mainInfo {
    font-size:xx-large;
    text-align: right;
}

.secondInfo {
    color: $our-orange;
    font-size: large;
    text-align: right;
}

.foot-box {
    background-color: $color-black-transparent;
    border-radius: 15px;
    padding: 20px 0;
}

.our-link {
    color: $our-green;
}

.our-link:hover {
    color:#308224;
}

.mainText {
    font-size: 22px;
    text-align: left;
    color: $secondary;
}

.secondText {
    font-size: 26px;
    color: $our-purple;
}

#aboutBox {
    border-radius: 15px;
    margin: 30px auto;
}

.menu-desc {
    color: white;
    font-size: 20px;
}

.menu-title {
    h2{
        color: black;
        font-size: 40px;
        text-align: right;
    }
}

.menu-row {
    background-color: $our-purple;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.menu-container {
    margin: 20px auto;
}